<div class="modal fade" id="modalAgenda" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agenda</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="evento">
                    <p>10/10/10 10:10 - Evento 1</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum</p>
                </div>
                <div class="evento">
                    <p>10/10/10 10:10 - Evento 2</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum</p>
                </div>
                <div class="evento">
                    <p>10/10/10 10:10 - Evento 3</p>
                    <br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                        molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDica" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dicas de vida saudável</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
                <br>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
                    molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
                    numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
                    optio, eaque rerum! Provident similique accusantium nemo autem.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Apoiadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/images/empresa.png" >
                    </div>
                    <div class="col-sm-8">
                        <h5>Empresa 1</h5>
                        <p>descrição</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/images/empresa.png" >
                    </div>
                    <div class="col-sm-8">
                        <h5>Empresa 2</h5>
                        <p>descrição</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/images/empresa.png" >
                    </div>
                    <div class="col-sm-8">
                        <h5>Empresa 3</h5>
                        <p>descrição</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/images/empresa.png" >
                    </div>
                    <div class="col-sm-8">
                        <h5>Empresa 4</h5>
                        <p>descrição</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>